/* common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.primary {
    color: #FF900E;
}

/* header section */
.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}