/* common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.primary {
    color: #FF900E;
}

.section-text {
    color: #727272;
}

.btn-primary {
    color: #fff;
    background-color: #FF900E;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    margin: 50px 0;
}

/* header section */
.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}

/* banner section */
.banner-content {
    text-align: center;
    margin-top: 75px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.banner-img img {
    width: 100%;
}

/* main section */
/* main {
    max-width: 1000px;
    margin: 0 auto;
} */

/* team section */
.team {
    display: flex;
    align-items: center;
    gap: 70px;
    max-width: 1000px;
    margin: 75px auto 100px;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-images img {
    width: 225px;
}

.team-content .section-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.team-content .btn-primary {
    margin-bottom: 0;
}

/* responsive for mobile screen */
@media screen and (max-width: 576px) {
    .header {
        padding: 20px;
    }
    
    .navbar,
    .navbar ul {
        flex-direction: column;
    }

    .navbar ul {
        text-align: center;
        margin-top: 30px;
    }
}

/* responsive for tablet screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .header {
        padding: 50px;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        margin-top: 30px;
        gap: 3rem;
    }
}